
# --- Python ---
__pycache__/
*.py[cod]
*.so

# --- Virtual Environment ---
.venv/
venv/

# --- Distribution ---
build/
dist/
*.egg-info/

# --- Testing ---
.pytest_cache/

# --- IDE ---
.vscode/
.idea/

# --- OS ---
.DS_Store
Thumbs.db

# --- Environment Variables ---
.env

# --- Logs ---
*.log

# --- Temporary ---
temp/
*.tmp